<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Busca boladona</title>
</head>
<body>
    <h1>Search for a Movie</h1>
    <form action="/results" methor="GET">
        <input type="text" placeholder="Search a term" name="keyword">
        <input type="submit">
    </form>
</body>
</html>